<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">YoutubeTag</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Search</a>
            <a class="nav-item nav-link" href="#">Search with Tags</a>
            <% if (locals.authenticated == true && locals.isadmin) { %>
            <a class="nav-item nav-link" href="/tags">Tags interface</a>
            <% } %>

            <% if (locals.authenticated == true) { %>
            <a class="nav-item nav-link" href="#"> Profil</a>
            <a class="nav-item nav-link" href="/user/signout"> Log out</a>
            <% } else { %>
            <a class="nav-item nav-link" href="/user/signin"> Log in </a>
            <% } %>

        </div>
    </div>
</nav>