<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">YoutubeTag</a>
        </div>
        <form class="form-inline navbar-left my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <% if (authenticated) { %>
                    <li><a href="#"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
                    <li><a>Pseudo</a></li>
                <% } else { %>
                    <li><a href="#"> <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                <% } %>
            </ul>

        </div>
    </div>
</nav>

<br>
