.navbar{
  background-color: #f44336 !important;
    color: whitesmoke !important;
}

.navbar-brand, .nav-item{
  color: white !important;
}

.center_div{
    padding-top: 15px;
    margin: auto;
    width: 30% /* value of your choice which suits your alignment */
}

.center_div_channel{
    padding-top: 15px;
    margin: auto;
    width: 80% /* value of your choice which suits your alignment */
}

h5.text-muted{
    margin: 1%;
}

img.col-xl-2.col-md-4{
    height: 100%;
}

div.col-xl10.col-md-8{
    height: 100%;
}

.channel_title{
    text-align: center;
}

.center_form{
    width: 80%;
    margin: auto;
}
.btn{
    background-color: #f44336 !important;
    border-color: red;
}

.btn-primary:hover{
    border-color: red;
}

div.list-group{
    margin-top: 15px;
}
a.list-group-item{
    width: 90%;
    margin-left: 5%;
    margin-top: 0.3%;

}

.tag{
    padding: 0.5%;
}

@media screen and (max-width: 536px) {
    .center_div {
        width: 97%;
    }
    .btn-search{
        width: 95%;
        margin: 2%;
    }
}

@media screen and (min-width: 536px) and (max-width: 1246px) {
    #search{
        width: 100%;
    }
    .btn-search{
        width: 99%;
        margin: 2%;
    }
}