<% layout('layout') %>
<div class="center_div">
    <form class="form-inline center_form" method="post" action="/search">
        <input type="text" class="form-control" id="search" name="search" placeholder="Search a youtuber">
        <button type="submit" class="btn btn-primary btn-search">Search</button>
    </form>
</div>

<div class="list-group">
    <% if(locals.channels != undefined) { %>
    <% locals.channels.forEach(function(channel) { %>

    <a href="/channel/<%= channel.channelId %>" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <img class="col-xl-2 col-md-4" src="<%= channel.thumbnail %>"> </img>
            <div class="col-xl-10 col-md-8">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> <%= channel.title %> </h5>


                </div>
                <p class="mb-1"> <%= channel.description %> </p>
                <small class="text-muted"><span class="badge badge-secondary">tag1</span></small>
                <small class="text-muted"><span class="badge badge-secondary">tag2</span></small>
                <small class="text-muted"><span class="badge badge-secondary">tag3</span></small>
            </div>
        </div>
    </a>
    <% }) %>
    <% } %>
</div>
